.xl\:w-1\/4{
    width:25%
}
.xl\:w-3\/4{
    width:75%
}
.xl\:w-1\/5{
    width:20%
}
.xl\:w-2\/5{
    width:40%
}
.xl\:w-3\/5{
    width:60%
}
.xl\:w-4\/5{
    width:80%
}
.xl\:w-1\/6{
    width:16.66667%
}
.xl\:w-5\/6{
    width:83.33333%
}
.xl\:w-full{
    width:100%
}
.xl\:w-screen{
    width:100vw
}
.xl\:max-w-xs{
    max-width:20rem
}
.xl\:max-w-sm{
    max-width:30rem
}
.xl\:max-w-md{
    max-width:40rem
}
.xl\:max-w-lg{
    max-width:50rem
}
.xl\:max-w-xl{
    max-width:60rem
}
.xl\:max-w-2xl{
    max-width:70rem
}
.xl\:max-w-3xl{
    max-width:80rem
}
.xl\:max-w-4xl{
    max-width:90rem
}
.xl\:max-w-5xl{
    max-width:100rem
}
.xl\:max-w-full{
    max-width:100%
}
 
.container\:size{background-color:orange;}
