<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ site.data.lang[page.lang].core["html_direction"] | default: 'ltr' }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.data.lang[page.lang].core["html_title"] | default: 'Blockchains.io' }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <link rel="amphtml" href="{{ site.url }}{{ page.url | replace:'index.html',''}}amp/">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120237615-1"></script>
    {% if page.alternate.first %}{% for altlang in page.alternate %}<link rel="alternate" href="{{ site.url }}{{ page.url | replace_first: page.lang, altlang }}" hreflang="{{ altlang }}" >
    {% endfor %}
    {% else %}
    {% if page.alternate %}{% for altlang in site.data.lang[page.alternate] %}{% if altlang.code != page.lang %}<link rel="alternate" href="{{ site.url }}{{ page.url | replace_first: page.lang, altlang.code }}" hreflang="{{ altlang.code }}" >{% endif %}
    {% endfor %}{% endif %}{% endif %}
    {% include css.fonts.css %}
    <style>

    {% include css.layout.css %}
    {% include css.style.css %}
    {% if page.cssinclude %}
      {% for css in page.cssinclude %}
{% include {{css}}.css %}
      {% endfor %}
    {% endif %}
    {{ page.css | default: '' }}
    </style>
    {% include components.inc %}
  </head>
  <body>
    {{content}}
  </body>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{site.gtag}}', { 'anonymize_ip': true });{% if page.gtag %}
    gtag('config', '{{page.gtag}}', { 'anonymize_ip': true });{% endif %}
  </script>
</html>
